body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bold { font-weight: bold; }
.line-break { height: 5px; }
.triple-line-break { height: 15px; }

.prof { 
	border: 2px solid black;
    content:url("../images/website-picture.jpg");
    height:400px; 
}

.back-button {
	height:35px;
	width:35px;
}

#objective-statement {
	width: 500px;
}